* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center
}

.box-outer {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center
}

.box-inner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.sidebar {
    width: 400px;
    color: white;
    padding: 20px;
    top: 0;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    align-self: flex-start;
    position: relative
}

.main-content {
    padding: 10px;
    flex: 1
}

main {
    padding-top: 100px
}

.content {
    flex: 1;
    padding: 40px
}

.content.container {
    padding: 40px;
    width: 100%
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1px 0
}

.sidebar a:hover {
    color: #98bb87
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 8px 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0 0 0 3px
}

.hamburger div {
    width: 20px;
    height: 2px;
    margin: 5px 0;
    background-color: #fff;
    transition: all 0.3s ease
}

ul {
    padding: 0 0 0 40px
}

@media (max-width: 800px) {
    main {
        padding-top: 0
    }

    .hamburger {
        display: block;
        background-color: #111111
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        z-index: 999;
        background-color: #111111;
        min-width: 350px;
        width: unset
    }

    .sidebar p {
        max-width: 400px
    }

    .content {
        padding-top: 70px;
        width: 100%
    }

    #boxOuter.show-sidebar main {
        height: calc(100vh - 20px);
        overflow: hidden
    }

    #boxOuter.show-sidebar .sidebar {
        transform: translateX(0);
        right: 0
    }

    #boxOuter.show-sidebar .hamburger div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 4.5px)
    }

    #boxOuter.show-sidebar .hamburger div:nth-child(2) {
        opacity: 0
    }

    #boxOuter.show-sidebar .hamburger div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -4.5px)
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0
}

html {
    font-family: Poppins, "Open Sans", arial, helvetica, "sans-serif";
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.01rem;
    font-weight: 300
}

body {
    color: #d9d9d9;
    background-color: #1e1f20;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding-bottom: 400px
}

.box {
    display: flex;
    height: 100%
}

a {
    color: #98bb87;
    text-decoration: none
}

a strong {
    color: inherit
}

a:hover,
a:focus {
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 4rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
    color: #e6e6e6;
    text-rendering: optimizeLegibility
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem
}

h2 {
    font-size: 2rem
}

h3 {
    margin-top: 1.7rem;
    font-size: 1.7rem
}

h4 {
    margin-top: 2.5rem;
    font-size: 1.5rem
}

h5 {
    margin-top: 2.5rem;
    font-size: 1.3rem
}

h6 {
    margin-top: 2.5rem;
    font-size: 1.1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

strong {
    color: #d9d9d9
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem
}

dt {
    font-weight: bold
}

dd {
    margin-bottom: 0.5rem
}

hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5
}

code,
pre {
    font-family: Menlo, Monaco, "Courier New", monospace
}

code {
    padding: 0.25em 0.5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #000;
    border-radius: 3px
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #000;
    color: #bf616a
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px
}

.highlight pre {
    margin-bottom: 0
}

.gist .gist-file {
    font-family: Menlo, Monaco, "Courier New", monospace !important
}

.gist .markdown-body {
    padding: 15px
}

.gist pre {
    padding: 0;
    background-color: transparent
}

.gist .gist-file .gist-data {
    font-size: 0.8rem !important;
    line-height: 1.4
}

.gist code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-radius: 0
}

blockquote {
    padding: 0.5rem 1rem;
    margin: 0.8rem 0;
    color: #7a7a7a;
    border-left: 0.25rem solid #e5e5e5
}

blockquote p:last-child {
    margin-bottom: 0
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem 0
}

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse
}

td,
th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #222427
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}

.message {
    margin-bottom: 1rem;
    padding: 1rem;
    color: #717171;
    background-color: #d9d9d9
}

.container {
    max-width: 66rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
    flex-direction: column
}

@media (min-width: 48em) {
    html {
        font-size: 14px
    }
}

.sidebar {
    padding: 2rem 5rem 2rem 1rem;
    color: rgba(255, 255, 255, 0.5)
}

@media (min-width: 48em) {
    .sidebar {
        text-align: left;
        flex-direction: column
    }
}

.sidebar-about h1 {
    margin: 0
}

.sidebar-about h1 a {
    color: #98bb87;
    text-decoration: underline;
    font-size: 3.5rem;
    font-weight: 700
}

.sidebar-about p {
    margin: 20px 0;
    font-size: 16px
}

.sidebar-nav {
    margin: 60px 0 1rem 0
}

.sidebar-nav-item {
    display: block;
    line-height: 1.75
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline
}

.sidebar-nav-item.active {
    font-weight: bold
}

.sidebar-nav-nested {
    padding: 0 0 0 20px
}

.sidebar-demos {
    padding: 0 0 50px 20px
}

.sidebar-nav-nested h4 {
    font-size: 12px;
    margin: 0;
    padding: 1px 0
}

.sidebar-nav-nested h4 a {
    color: #fff;
    font-size: 12px;
    margin: 0
}

.sidebar a {
    color: rgba(255, 255, 255, 0.5)
}

.sidebar h2 {
    margin: 60px 0 0 0;
    font-size: 3rem;
    font-weight: 700
}

.sidebar h3 {
    margin: 20px 0 0 0;
    padding: 1px 0;
    line-height: 1.75;
    font-size: 25px;
    color: #fff
}

.sidebar h3 a {
    font-size: 25px;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.75
}

.sidebar h4 {
    margin: 20px 0 0 0;
    padding: 1px 0;
    line-height: 1.75;
    font-size: 16px
}

.sidebar h4 a {
    line-height: 1.75;
    font-size: 16px;
    color: #fff
}

.sidebar .warning {
    color: #e1978b;
    font-size: 11px;
    font-style: italic
}

.sidebar-nav p {
    margin: 0;
    padding: 1px 0;
    font-size: 12px
}

.sidebar-nav a {
    font-size: 12px
}

.sidebar-nav-external h5 {
    margin: 15px 0 0 0px;
    padding: 1px 0;
    font-size: 12px
}

.sidebar-nav-external h3 {
    margin-top: 60px;
    font-size: 20px;
    color: #fff;
    padding: 0;
    line-height: 1.75
}

.content {
    padding-top: 4rem;
    padding-bottom: 4rem
}

@media (min-width: 48em) {
    .content {
        max-width: 66rem
    }
}

.warning-header {
    position: relative;
    margin: 50px 0
}

.warning-header h4 {
    color: #e1978b;
    font-size: 13px;
    font-style: italic;
    padding: 0;
    margin: 10px 0 0 0
}

.warning-header h5 {
    color: #e1978b;
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 5px 0 0 20px
}

.warning-header p {
    color: #e1978b;
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 0;
    font-weight: 500
}

.warning-header a {
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 0 0 0 40px;
    font-weight: 500
}

.breadcrumbs {
    display: flex;
    flex-direction: column;
    font-size: 11px
}

.breadcrumbs a {
    display: flex;
    color: rgba(255, 255, 255, 0.5)
}

.breadcrumbs a .breadcrumb-name {
    flex-basis: 10%;
    min-width: 70px
}

.breadcrumbs a .breadcrumb-value {
    flex-basis: 90%;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto
}

.breadcrumbs a:hover {
    color: #98bb87
}

.theme-base-08 .sidebar {
    background-color: #ac4142
}

.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
    color: #ac4142
}

.theme-base-09 .sidebar {
    background-color: #d28445
}

.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
    color: #d28445
}

.theme-base-0a .sidebar {
    background-color: #f4bf75
}

.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
    color: #f4bf75
}

.theme-base-0b .sidebar {
    background-color: #90a959
}

.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
    color: #90a959
}

.theme-base-0c .sidebar {
    background-color: #75b5aa
}

.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
    color: #75b5aa
}

.theme-base-0d .sidebar {
    background-color: #6a9fb5
}

.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
    color: #6a9fb5
}

.theme-base-0e .sidebar {
    background-color: #aa759f
}

.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
    color: #aa759f
}

.theme-base-0f .sidebar {
    background-color: #8f5536
}

.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
    color: #8f5536
}